{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>

    <p>Fill the form bellow to login on AWS Manager.</p>

    {% from "/macros.html" import render_field %}

    <form action="" method="post" accept-charset="utf-8">
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
            <dt></dt>
            <dd><input type="submit" value="Login"/></dd>
        </dl>
    </form>
{% endblock %}
